body{
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    background-color: #1e272e;
}


#navbar{
    width: 100%;
    text-align: right;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: gray;
    z-index: 2;
}
li{
    display: inline-block;
    padding: 20px;
}

#navbar a{
    text-decoration: none;
    font-size: 30px;
}
#welcome-section{
    text-align: center;
    line-height: 7.5px;
    padding-top: 40vh;
    height: 100vh;
    margin-top: 9px;
    color: white;
}

#projects{
    padding-top: 300px;
    height: 90vh;
    background-color: #303952;
}
#projects-1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}
#projects-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;

}
#projects-2 > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 15px;
    color: white;
    box-shadow: 0 10px 20px rgba(99, 110, 114,1.0), 0 6px 6px rgba(99, 110, 114,1.0);
}
.p-h2{
    padding: 10px;
}
.img{
    height: 200px;
    width: 200px;
}

#repository{
     padding-top:300px;
     height: 90vh;
}
#repository-1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}
#repository-2{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}    
#repository-2 > div{
    width: 190px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 0 10px 20px rgba(99, 110, 114,1.0), 0 6px 6px rgba(99, 110, 114,1.0);
    border-radius: 5%;
    margin: 10px;
    padding: 15px;
}

#contact-container {
   height: 100vh;
   background-color: #303952;
}
#contacts-1{
    display: flex;
    padding-top: 200px;
    flex-direction: row;
    color: white;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}
#contacts-2{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
}
#contacts-2 > div{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 40px;
    margin: 10px;
    width: 250px;
    box-shadow: 0 10px 20px rgba(99, 110, 114,1.0), 0 6px 6px rgba(99, 110, 114,1.0);
}
.c-twitter, .c-linkedin, .c-phone, .c-email{
    padding: 10px;
}
            @media only screen and (max-width: 600px){
                .twitter, .linkedin, .phone, .email{
                    display: flex;
                    flex: 2;
                    flex-direction: column;
                    padding: 0px;
                    color: transparent;
                    align-items: center;
                    justify-content: center;
                }
                .c-twitter, .c-linkedin, .c-phone, .c-email{
                    display: none;
            }
}
footer{
    background-color: rgba(87, 88, 187,1.0);
    color: white;
    height: 20vh;
    text-align: center;
    padding-top: 5vh;
}

#h2-footer{
    margin: auto;
}







