body{
    background-color: #E8E8E8;
}


#navbar{
    text-align: right;
    position: fixed;
    top: 0px;
    left: 0px;
  
}

ul {
     width: 90vw;
}

li{
    display: inline-block;
    padding: 20px;
}

a{
    text-decoration: none;
    font-family: cursive;
    font-size: 25px;
}
#welcome-section{
    text-align: center;
    line-height: 7.5px;
    padding-top: 10vh;
    height: 100vh;
    margin-top: 73px;
}

footer{
    background-color: black;
    color: white;
    height: 20vh;
    text-align: center;
    padding-top: 5vh;
}